header {
    background-color: white;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;
    position:fixed;
    top: 0;
    z-index: 1000; /* Ensures the header is above other content */
}
.header-logo{
    margin-left: 20px;
}