header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1;
    align-items: center;
    display: flex;
    padding-left: 20px;
}
.header-logo{
    margin-right: 20px;
}