.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center; /* Centers the items vertically */
    justify-content: space-between; /* Distributes the items with space between them */
    padding: 0 15px;
    box-sizing: border-box; 
    position: relative;
}
.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    transition: opacity 0.3s ease;
}
.filters button:hover{
    opacity: 90%;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    position: relative;
}
.filters .locations {
    border-right: 1px solid #DDDDDD;
    margin-left: 30px;
}
.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.filters .popover{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    list-style: none; /*no list display*/
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
.filters .popover h2 {
    font-size: 16px;
    margin: 0 0 5px;
}
.filters .popover li {
    margin: 5px 0;
}