.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center; /* Centers the items vertically */
    justify-content: space-between; /* Distributes the items with space between them */
    padding: 0 2%;
    box-sizing: border-box; 
    position: relative;
}
.filters button{
    font-size: 18px;
    background-color: #03031c;
    color: #FFFFFF;
    height: 70%;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 2%;
    transition: opacity 0.3s ease;
}
.filters button:hover{
    opacity: 80%;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    position: relative;
}
.filters .locations, .filters .amenities {
    border-right: 1px solid #DDDDDD;
    margin-left: 2%;
}
.filters .amenities {
    border-right: 1px solid #DDDDDD;
    margin-right: 18%;
}
.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.filters .popover{
    display: none;
    position: absolute;
    top: 80%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    list-style: none; /*no list display*/
    padding: 1%;
    box-sizing: border-box;
    z-index: 10;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
.filters .popover h2 {
    font-size: 16px;
    justify-content: flex-start;
    display: flex;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 1%;
}
.filters .popover li {
    list-style: none; /*no list display*/
    margin-bottom: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
}
.filters .amenities .popover li {
    list-style: none; /*no list display*/
    margin-bottom: 2%;
    padding-bottom: 2%;
    margin-left: 8%;
}